/*Globales*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-size: 1.6rem;
  line-height: 2;
  background-color: #000;
}
h1,
h2,
h3 {
  margin: 0 0 2rem 0;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
  color: #000;
}

/*Utilidades*/

[class$="__container"] {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.main__color {
  color: transparent;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(147, 67, 67, 1) 0%,
    rgba(111, 27, 27, 1) 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

/* Logos del Gobierno */

.section__flex {
  display: flex;
  justify-content: center;
}
.section__imagen {
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  height: 9rem;
}
@media (min-width: 768px) {
  .section__imagen {
    padding: 1rem;
    margin-top: 1rem;
    width: 27rem;
    height: 12rem;
  }
}

/* Header */

.header {
  background-color: #e1e1e1;
}

.header__navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.header__imagen {
  width: 8rem;
}
@media (min-width: 768px) {
  .header__imagen {
    width: 10rem;
  }
}
.header__title {
  margin: 0;
}
.header__flex {
  display: flex;
  align-items: center;
}
.header__lista {
  display: flex;
}
.header__lista li {
  padding: 1rem;
  list-style: none;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .header__lista li {
    padding: 2rem;
    font-size: 2.5rem;
  }
}
.header__lista li:hover {
  color: rgb(4, 4, 158);
  font-size: 2.7rem;
}

/* Promociones */

.promo__titleHeader {
  color: azure;
  text-align: center;
}

.promo__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 5rem;
  color: azure;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .promo__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 0;
  }
}

/* Informcion */

.proceso__grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.proceso__info {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: azure;
}
@media (min-width: 768px) {
  .proceso__info {
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  .proceso__grid {
    display: grid;
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr;
  }
}

.proceso__grid {
  background-image: linear-gradient(to bottom, transparent 50%, #242424 0%),
    url(../img/totalplay-tv-revoluciona-conocelo.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%, 43rem;
  height: 43rem;
}
@media (min-width: 768px) {
  .proceso__grid {
    background-image: linear-gradient(to right, transparent 50%, #242424 0%),
      url(../img/totalplay-tv-revoluciona-conocelo.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%, 68rem;
    height: 30rem;
  }
}

/* Paquetes */

main {
  background-color: #242424;
}
@media (min-width: 768px) {
  main {
    margin-top: 5rem;
  }
}
.main__grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 3rem;
}
@media (min-width: 768px) {
  .main__grid {
    grid-template-rows: unset;
    grid-template-columns: repeat(3, 1fr);
  }
}

.main__paquete {
  width: 100%;
  height: 80rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  background-color: aliceblue;
  margin-top: 5rem;
}
.main__paquete:nth-last-of-type(3),
.main__paquete:nth-last-of-type(2),
.main__paquete:nth-last-of-type(1) {
  margin-top: 0;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .main__paquete {
    width: 95%;
    height: 80rem;
    border: 1px solid #fff;
    border-radius: 1rem;
  }
}
.main__imagen {
  margin: 1rem 4rem 0 auto;
  width: 6.5rem;
  height: 6.5rem;
}
.main__velocidad {
  text-align: end;
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
}
.main__imagen--telefono {
  margin: 0 auto 0 5.5rem;
}
.main__telefono {
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

.main__descuento {
  display: flex;
  height: 20rem;
  font-size: 2.5rem;
  text-align: center;
  align-items: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.main__dinero {
  font-size: 7rem;
  text-align: center;
  margin: 0;
  line-height: 1.2;
}
.main__pronto {
  text-align: center;
  margin: 0;
  font-size: 3rem;
  line-height: 1.2;
}

/* footer */

.footer {
  text-align: center;
  margin-top: 5rem;
  color: aliceblue;
  font-size: 3rem;
}
